.popular-goods {
  margin-top: 371px;
  width: 100%;
}

.popular-goods_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.goods {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 58px;

  background: linear-gradient(180deg, rgba(251, 248, 248, 0) 100%, #fafafa 0%);
}

.goods-card {
  width: 290px;
  height: 454px;
  padding-top: 30px;
  padding-bottom: 18px;
  margin-top: 27px;
  padding-bottom: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-color: linear-gradient(
    180deg,
    rgba(251, 248, 248, 0) 100%,
    #fafafa 0%
  );
  transform: (1, 0, 0, -1, 0, 0);
}

.goods-title {
  width: 232px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: #7b7e7b solid 2px;
}

.goods-title_text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.goods-title_button {
  background-color: inherit;
  width: 20px;
  height: 18px;
  padding: 0;
  background-image: url('../images/Vector.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.goods-img {
  position: relative;
}

.goods-img-url {
  width: 262px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));
}

.goods-price-block {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 18px;
}

.goods-button {
  width: 145px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 11px;
  padding-left: 10px;

  font-size: 16px;
  line-height: 1.25;
}

.goods-price {
  display: inline-block;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.26;
}

.goods-price_value {
  margin-left: 8px;
  font-size: 10px;
  line-height: 1.2;

  color: #7b7e7b;
}

.goods-title_button {
  width: 25px;
  height: 18px;
}

.goods-information {
  display: flex;
  position: relative;
  width: 270px;
  margin-top: 3px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.goods-informetion_video {
  display: block;
  background-color: #fff;
}

.goods-informetion_button {
  background-color: inherit;
}

.goods-informetion_list {
  width: 151px;
  font-size: 12px;
  line-height: 1.25;
}

.goods-informetion_text {
  position: absolute;
}

.text-transform {
  bottom: 27%;
}

.goods-informetion {
  text-align: center;
}

.icon-svg {
  margin-right: 10px;
}

.goods-informetion_text.ru-text {
  font-size: 10.5px;
}

.check {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: rgba(49, 49, 49, 1) solid 1px;
  text-align: center;
}
.availability {
  display: flex;
  width: 117px;
  margin: 17px 17px 17px auto;
  color: #0bc756;
}

.goods-img-url.info--oppen {
  transform: translateX(300px);
}

.goods-info.info--oppen {
  transform: translateX(10px);
}

.goods-img-url {
  position: absolute;
  left: 14px;
  top: 0;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tumb {
  position: relative;
  overflow: hidden;
  height: 264px;
}

.goods-info {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(290px);
  height: 225px;
  width: 269px;
  padding: 0px 29px 16px 29px;

  font-size: 14px;
  line-height: 1.21;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  overflow-x: hidden;
}

.goods-info-text {
  margin-bottom: 1em;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 15px;
}

@media (min-width: 1200px) {
  .popular-goods {
    margin-top: 488px;
  }

  .popular-goods_title {
    padding-top: 59px;
    font-size: 36px;
    line-height: 1.22;
  }
  .goods-information {
    width: 277px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .goods {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-rows: 480px 480px;
    grid-template-columns: 350px 350px 350px;
    row-gap: 30px;
    column-gap: 30px;
    padding-bottom: 75px;
    background: linear-gradient(
      180deg,
      rgba(251, 248, 248, 0) 100%,
      #fafafa 0%
    );
  }

  .goods-card {
    width: 350px;
    height: 480px;
    margin: 0;
  }

  .goods-title {
    width: 290px;
  }

  .goods-title_text {
    text-transform: uppercase;
    font-size: 22px;
  }

  .goods-info {
    height: 225px;
    width: 290px;
    padding: 0 26px 20px 26px;
    transform: translateX(350px);
  }

  .goods-img-url {
    left: 38px;
    padding: 20px;
  }

  .tumb {
    height: 278px;
  }

  .goods-img-url.info--oppen {
    transform: translateX(320px);
  }

  .goods-info.info--oppen {
    transform: translateX(30px);
  }
}


