.page-header,
.page-header_block {
  width: 100%;
  display: flex;
  position: relative;
}

.page-header_block {
  z-index: 1;
  margin-top: 28px;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: inherit;
  display: inline-block;
}

.menu-button-svg {
  height: 25px;
}

.heder-logo {
  display: inline-block;
}
.heder-logo__img {
  width: 125px;
  height: 41px;
}

.menu {
  position: absolute;
  right: 0;
  top: 41px;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #d6d8d6;
  border: #7b7e7b solid 2px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.icon-close {
  opacity: 0;
  visibility: hidden;
}

.mobile-menu {
  position: relative;
}

.menu.is--open,
.menu-button-svg.is--open .icon-close {
  opacity: 1;
  visibility: visible;
}

.menu-button-svg.is--open .icon-menu {
  opacity: 0;
  visibility: hidden;
}

.menu-list {
  font-size: 16px;
  line-height: 1.25;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.menu-link:hover,
.menu-link:focus {
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
}

.language {
  width: 32px;
  height: 58px;
  margin: 0;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 2px;
}

.contacts {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.contact-tel {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #000000;
}

.line {
  height: 1px;
  width: 16px;
  display: block;
  margin: auto;
  margin: auto;
  background-color: #c4c4c4;
}

.language_button {
  height: 29px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  justify-content: center;
  background-color: inherit;
  border: none;
  color: #7b7e7b;
}

.contacts,
.footer-contacts {
  display: flex;
  flex-wrap: nowrap;
  margin-top: auto;
  margin-bottom: auto;
}

.contact-list {
  width: 143px;
}

.contact-icon {
  margin-left: 13px;
}

.contact-tel_icon {
  display: block;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  .heder-logo__img {
    width: 216px;
    height: 71px;
  }

  .language {
    width: 32px;
    height: 58px;
    margin-top: 34px;
    margin-right: 54px;
    margin-left: 24px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 2px;
  }

  .menu-button {
    display: none;
  }

  .menu {
    position: relative;
    top: 0;
    display: inline-flex;
    width: 855px;
    height: 98px;
    padding: 0;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 100px;
    opacity: 1;
    visibility: visible;
  }
  .menu-list {
    width: 480px;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    margin-left: 24px;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    line-height: 1.25;
  }
  .menu-item {
    height: 20px;
    margin: 0;
    align-items: center;
  }

  .contacts {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    padding-right: 0;
  }
}
